{% extends 'base.html' %}
{% block main %}
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.id.label }} <br> {{ form.id(size=15) }}
                {% for error in form.id.errors %}
                    <br><span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.passwd.label }} <br> {{ form.passwd(size=30) }}
                {% for error in form.passwd.errors %}
                    <br><span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}